global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice

defaults
    log global
    mode http
    option httplog
    option redispatch
    option dontlognull
    maxconn 5000
    timeout connect 5000
    timeout client 10000
    timeout server 10000


frontend http
    bind 0.0.0.0:80
    mode http
    default_backend {{ .Env.BACKEND }}

backend {{ .Env.BACKEND }}

    option httpchk GET / HTTP/1.1

    # Backend {{ .Env.BACKEND }}

    # Backend PORT {{ .Env.BACKEND_PORT }}

    {{ range $label, $containers := groupByLabel $ "com.docker.compose.service" }}
        # Label {{ $label }}
        {{ if eq $label $.Env.BACKEND }}

                {{ range $index, $value := $containers }}
                        {{ with $project := index $value.Labels "com.docker.compose.project" }}
                        {{ if eq $project $.Env.PROJECT  }}
                                {{ $network := index $value.Networks 0 }}
                                server {{$value.Name}} {{ $network.IP }}:{{ $.Env.BACKEND_PORT }} check
                        {{ end }}
                {{ end }}
        {{ end }}

   {{ end }}

    {{ end }}

  option httpchk GET /
  http-check expect status 200

  listen stats
  bind *:70
  stats enable
  stats uri /